body{
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #EBEBEB;
}

inner{
  display: block;
  max-width: 900px;
  width: 100%;
  height: 200px;
}

header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2F2F2F;
}

nav{
  display: flex;
  flex-direction: row;
  background-color: #F6F930;
  font-family: 'Roboto Slab';
}

a{
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #2F2F2F;
  padding: 5px;
}

a.selected{
  background-color: #2F2F2F;
  color: #F6F930;
}

maincontainer{
  display: flex;
  flex-direction: row;
  background-color: #EBEBEB;
  padding: 7px;
}

main{
  flex-grow: 1;
  display: block;
  background-color: #F6F930;
}

article {
  background-color: rgba(235, 235, 235, 0.7);
  padding: 5px;
  margin: 7px;
}

article > p {
  font-family: 'Roboto Slab';
  margin: 0;
  padding: 5px;
  color: #2F2F2F;
}

article > imgbox{
  display: block;
}

footer{
  background-color: #2F2F2F;
  color: #EBEBEB;
  text-align: right;
  padding: 5px;
  font-family: 'Roboto Slab';
  font-size: 10px;
}

@media (max-width: 320px){
  article > imgbox{
    height: 211px;
    width: 100%;
    background-image: url(../img/bananpaj-282x211.png);
  }
}

h2 {
  margin: 0;
}
